:root {
    --pre-black: rgba(33, 33, 33, 1);
    --white: rgba(255, 255, 255, 1);
    --grey: rgba(117, 117, 117, 1);
    --blue: rgba(33, 150, 243, 1);
    --very-light-grey: rgba(245, 244, 250, 1);
    --light-gray: rgba(175, 177, 184, 1);
    --white-white: #fff;
    --button-gray : rgba(245, 244, 250, 1);
    --card-set-gap : 30px;
    --nav-list-retrit : 50px;
    --title-black-color: #212121;
    --main-color: #2CD0B3;
    --main-color-middle: rgba(44, 208, 179, 0.8) ;
    --footer:rgba(5, 90, 75, 1);
}

body{
    color: var(--grey);
    background-color: var(--white);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    Font-size: 14px;
    Line-height: 1.2;
}

footer{
    background-color: var(--footer);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

li{
    list-style: none;
}

.head-p{
    border-bottom: 1px solid #ccc;
    margin-bottom: 94px;
}

.container {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}



.web {
    color: var(--blue);
}

.studio {
    color: #000000;
}

.studio2 {
    color: var(--white);
}

.site-nav{
    display: flex;
}

.site-nav .logo {
    margin-top: 24px;
    margin-bottom: 25px;
}


.site-nav-div {
    display: flex;
    
    /* align-items: center; */
}

.ul-header{
    display: flex;
    margin-right: 30px;
}

.flex-item {
    display: flex;
}

.hero {
    text-align: center;

}

.hero .hero-title {
    color: var(--white);
    padding-top: 0px;
    padding-bottom: 0px;
    

}
.color{
    background-color: rgba(245, 244, 250, 1);
}

.comand-title{
padding-top: 30px;
}

.hero-text {
    padding-top: 200px;
}

.button {
    border-style: none ;
    display: inline-block;
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    padding: 10px 32px;
    
}

.button-one {
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
}

.list .title {
    color: var(--pre-black);

}

.title {
    color: var(--pre-black );

    font-size: 36px;
    line-height: 1.2;
 
    letter-spacing: 0.03em ;
    
    margin-top: 30px;
    margin-bottom: 10px;
}



.masengers {
    color: var(--light-gray);
    background-color: var(--white) ;

    padding: 12px;
    border-radius: 50px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.masengers :hover,
.masengers :focus {
    padding: 12px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 90px
}


.list .masengers {
    color: #fff;
    background-color: rgba(100% , 100% , 100% , 0.1) ; 
}

.clients .list .link {
    background-color: #fff;
    text-decoration: none;
}

.logo {
    text-decoration: none;
    font-family: Poller One;
    font-weight: 400;
    Font-size: 26px;
    Line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.button-two1 {
    color: var(--pre-black);
    background-color: var(--button-gray);


    
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.blok {
    display: flex;
    
    justify-content: center;

}

.portfolio-buttons .button-two1:focus,
.portfolio-buttons .button-two1:hover {

    color: var(--white);
    background-color: var(--blue);

}
 
.link {
    text-decoration: none;
}

.list-text {
    color: var(--grey);

margin-left: 24px;
font-weight: 400;
font-size: 16px;
line-height: 1.9;
margin-top: 0px;
margin-bottom: 0px;
}

.port-title {
    color:  var(--white);
}

.link-nav{
    position: relative;
}

.link-nav::after{
    content: "";
    
    position: absolute;
    left: 25%;
    /* transform: translateX(-55%); */
    bottom: 0;

    display: block;
    width:calc(100% / 2);
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue);
    /* opacity: 0; */

    transform: scaleX(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav:hover::after,
.link-nav:focus::after{
/* opacity: 1; */
transform: scaleX(1);
}



.title-names {
    color: var(--white);

    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: center;
}

.text-comand {
font-weight: 400;
font-size: 16px;
Line-height: 1.2;
margin-bottom: 15.4px;
text-align: center;
color: var(--white);
}

.card-set1 {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 15px;
    padding-bottom: 94px;
}

.card-set1 > .item {

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);  
/* width: calc((100% - 90px) / 4); */
width: 270px;
background-color: var(--main-color);
padding-left: 0;
    
}
.item:not(:last-child){
    margin-right: 30px;
}

.item-child {
    display: flex;
}

.list {
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
}





.title-p {
    color: var(--pre-black );

    font-weight: 700;
    font-size: 36px;
    line-height: 2; 
    letter-spacing: 0.06em ;
    margin-top: 0px;
    margin-bottom: 0px;
}



footer {
    height: 252px;
    max-width: 1600px;
}

.comand {
    background-color: var(--very-light-grey);
}



.title2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--title-black-color );

    font-size: 36px;
    line-height: 1.2;
    text-align: Center ; 
    letter-spacing: 0.03em ;
}

.container2 {
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
    width: 1200px;
    margin-bottom: 94px;
    padding-left: 15px;
    padding-right: 15px;
}

.title-work {
    margin-bottom: 50px;
}

.title2 {
    color: var(--pre-black );

    font-size: 36px;
    line-height: 1.2;
 
    letter-spacing: 0.03em ;
    margin-bottom: 50px; 
}

.masengers:hover,
.masengers:focus {
    padding: 44px;

}

.comand-photo {
    margin-bottom: 30px;
}

.clients {
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 94px;
}

.title-clients {

    padding-top: 94px;
    margin-bottom: 50px;
    color: var(--title-black-color);
    text-align: center;
}




.join {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
}

.container3 {
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px solid tomato; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px
}

.botton1 {
    display: inline-block;
    border-radius: 4px;
    min-width: 73px ;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    cursor: pointer;
}

.botton2 {
    display: inline-block;
    border-radius: 4px;
    min-width: 128px ;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    cursor: pointer;
}

.botton3 {
    display: inline-block;
    border-radius: 4px;
    min-width: 145px ;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    cursor: pointer;
}

.botton4 {
    display: inline-block;
    border-radius: 4px;
    min-width: 103px ;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    cursor: pointer;
}

.botton5 {
    display: inline-block;
    border-radius: 4px;
    min-width: 130px ;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    cursor: pointer;
}

.botton1 :hover,
.botton1 :focus {
    display: inline-block;
    border-radius: 4px;
    min-width: 73px ;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.botton2 :hover,
.botton2 :focus {
    display: inline-block;
    border-radius: 4px;
    min-width: 128px ;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.botton3 :hover,
.botton3 :focus {
    display: inline-block;
    border-radius: 4px;
    min-width: 145px ;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.botton4 :hover,
.botton4 :focus {
    display: inline-block;
    border-radius: 4px;
    min-width: 103px ;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.botton5 :hover,
.botton5 :focus {
    display: inline-block;
    border-radius: 4px;
    min-width: 130px ;
    height: 38px;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.portfolio-container {
    padding: 0px;
    /* padding: 94px 0px; */
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: teal; */
  }



.img-portfolio {
   
    /* margin-bottom: 20px; */
    padding-right: 0px;
    width: 380px;
}

.portfolio-main {
    height: 1360px;
}

.portfolio-container {
    padding: 0px;
    /* padding: 94px 0px; */
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
  }

.card-set {
    
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    
    /* outline: 3px solid orange; */
    display: flex;
    opacity: 0;
    transform: translateY(110%);
}

.card-legend{
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.li-portfolio:hover .card-legend{
    opacity: 1;
}

.li-portfolio:hover .card-overlay,
.li-portfolio:focus .card-overlay{
    opacity: 1;
    transform: translateY(0);
}

.card-legend {
    margin: 0;
    padding: 63px 24px;
    /* top: 0; */
    /* left: 0; */   
    color: var(--white);
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    opacity: 0;
    }

    .card-overlay{
       

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        position: absolute;
        /* opacity: 0; */
        transform: translateY(110%);  
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
    }

.product-thumb{
    position: relative;
    height: 294px;
    display: flex;
    justify-content: center;
    
    overflow: hidden;
}

        
.card-set > .li-portfolio {
    border: 1px solid rgba(238, 238, 238, 1);
    width: calc( (100% - 66px ) / 3 );

    margin-bottom: var(--card-set-gap);
    
    margin-right: var(--card-set-gap);
    
    /* background-color: tomato; */
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
} 

.li-portfolio:hover,
.li-portfolio:focus{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.li-portfolio:nth-child(3n) {
    margin-right: 0;  
}

.li-portfolio:nth-last-child( -n + 3 ) {
    margin-bottom: 0;
}

.title-p {
    margin-top: 20px;
    font-size: 18px;
    min-width: 322px;
    height: 36px;
    margin-bottom: 4px;
    margin-left: 24px;
}

.link-card{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.link-card:hover,
.link-card:focus {
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-set3 {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    padding-left: 15px;
    

}

.item3 {
    flex-basis: calc((100% - 60px) / 3  );
}

.item3:not(:last-child){
    margin-right: 30px;
}

.card-set4 {
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    
    
}

.item4:not(:last-child) {
    margin-right: 30px;
}

.overlay {
    height: 600px;
    outline: 1px solid black;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(47, 48, 58, 1);
    background-image: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
    url(../pictures/overlay.png);
    background-size: cover;
    background-position: center;
}

.button-con {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.button-con1 {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.button-con::before {
    content: "";
    height: 12px;
    width: 16px;
    
    margin-right: 10px;
    /* background-color: tomato; */
    background-image: url(../pictures/envelope-hover1.svg);
    background-size: contain;
}

.button-con1::before {
    content: "";
    height: 16px;
    width: 10px;
    
    margin-right: 10px;
    /* background-color: tomato; */
    background-image: url(../pictures/smartphone.svg);
    background-size: contain;
}

.footer-flex {
    display: flex;
    margin-top: 60px;
}




.item4 {
    display: inline-flex;
    width: 170px;
    height: 92px;
    border-radius: 2px;
    border: 1px solid var(--light-gray);
    text-align: center;
    align-items: center;

    transition: 
    
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item4:hover,
.item4:focus{
   border: 1px solid var(--blue);
}

.clients-logo{
    fill: rgba(175, 177, 184, 1);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo:hover,
.clients-logo:focus{
    fill: var(--blue);
    
}

.clients-logo1{
    padding-left: 64px;
    padding-right: 65px;
    padding-top: 23px;
    padding-bottom: 22.3px;
    width: 41px;
    height: 46px;
}

.clients-logo2 {
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 19px;
    padding-bottom: 21px;
    width: 40px;
    height: 52px;
}

.clients-logo3 {
    padding-left: 61.68px;
    padding-right: 64.86px;
    padding-top: 24.7px;
    padding-bottom: 26.12px;
    width: 43px;
    height: 41px;
}

.clients-logo4 {
    padding-left: 43px;
    padding-right: 42.56px;
    padding-top: 24.7px;
    padding-bottom: 26.68px;
    width: 84px;
    height: 41px;
}

.clients-logo5 {
    text-align: center; 
    padding-left: 43px;
    padding-top: 24.7px;
    padding-bottom: 26.68px;
    padding-right: 42.56px;
    width: 84px;
    height: 41px;
}

.clients-logo6 {
    padding-left: 38px;
    padding-right: 38.21px;
    padding-top: 23.77px;
    padding-bottom: 24.31px;

    width: 93.79px;
    height: 44px ;
}

.link-msg2{
    height: 44px;
    width: 44px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.link-msg2:hover,
.link-msg2:focus{
    background-color: var(--blue);
    outline: none;
}

.title-text{
    margin: 0;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    padding: 27px 83px;
    background: var(--main-color-middle);
    width: 205px;
    height: 16px;
}

.card-title{
    position: absolute;
    left:0;
    top: 225px; 
    
}

.card-thumb{
    position: relative;
}

.container5{
    margin-left: auto;
    margin-right: auto;
    /* outline: 2px soli    d tomato; */
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.logo-img{
    width: 70px;
}

.img-spec{
    min-width: 370px;
    height: 295px;
}

.logo-txt{
font-weight: bold;
margin-left: 10px;
color: #000000;
font-size: 46px;
}

.logo:hover > .logo-txt{
    color: var(--main-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us{
    padding-top: 15px;
    padding-bottom: 15px;
    width: auto;
    height: 300px;
    background-color:  rgba(245, 244, 250, 1);
}



.about-us-title{
    margin-top: 50px;
}

.about-txt{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    color: #000000;
    margin-top: -30px;
}


.item-posl{
    width: 903px;
    margin-left: auto;
    margin-right: auto;

}

.item-posl:not(:last-child){
    margin-bottom: 34px;
}


.title-posl{
    color: var(--white );

    font-size: 30px;
    line-height: 1.2;
 
    letter-spacing: 0.03em ;
    
    text-align: center;

    background-color: var(--main-color);

    padding: 14px;
    padding-top: 14px;

    border-radius: 10px;
}

.text-posl{
    font-size: 20px;
    color: var(--pre-black);
}

.gmail-div{
    margin-top: 26px;
}

.gmail{
    color: var(--white);
    text-decoration: none;
    font-size: 23px;
}

.live{
    margin-left: 521px;
    margin-top: auto;
    margin-bottom: auto;
    
}

.live-item:not(:last-child){
    margin-right: 20px;
}

.live-a{
    text-decoration: none;
    color: white;
}

.live-p{
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}


.live-ul{
    display: flex;
    align-items: center;
    
}

.footer-soc-img{
    width: 61px;
    height: 61px;
}

.footer-soc-img:not(:last-child){
    margin-right: 30px;
}

.language{
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-align: center;
}

.ul-header > .language-item:not(:last-child){
    margin-right: 20px;
}

.language-item{
    margin-top: auto;
    margin-bottom: auto;
}

.language-hov:hover{
    color: var(--main-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}